<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- https://www.w3schools.com/jquery/jquery_get_started.asp -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="/css/forgot-password.css">
    <link rel="stylesheet icon" href="/img/logo2.png">
    <title>Reset Password</title>
</head>
<body>
    <div class="loader" id="loader">
        <!-- <img src="gif/Loading_2.gif" alt=""> -->
    </div>
    <p id="type"style="display: none;"><%= type %></p>
    <p id="msssg"style="display: none;"><%= message %></p>
    <p id="name"style="display: none;"><%= name %></p>
    <p id="code"style="display: none;"><%= code %></p>

    <div class="personal-details align-centre">
        <div class="heading">
            <h1>Hello <%= name %></h1>
        </div>
            <div class="alert alert-dismissible fade show alert-<%= type %>" role="alert">
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
                <strong><%= message %></strong>
            </div>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

      <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  
  <!-- https://flickity.metafizzy.co/#initialize-with-jquery -->
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

  <script src="https://kit.fontawesome.com/5dd83d6fa5.js" crossorigin="anonymous"></script>

</body>
</html>